<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hry.ssm.mapper.SowingMapper" >
  <resultMap id="BaseResultMap" type="com.hry.ssm.pojo.Sowing" >
    <id column="imageid" property="imageid" jdbcType="INTEGER" />
    <result column="imageurl" property="imageurl" jdbcType="VARCHAR" />
    <result column="uniform" property="uniform" jdbcType="VARCHAR" />
    <result column="imagename" property="imagename" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    imageid, imageurl, uniform, imagename
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.hry.ssm.pojo.SowingExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sowing
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sowing
    where imageid = #{imageid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sowing
    where imageid = #{imageid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.hry.ssm.pojo.SowingExample" >
    delete from sowing
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hry.ssm.pojo.Sowing" >
    insert into sowing (imageid, imageurl, uniform, 
      imagename)
    values (#{imageid,jdbcType=INTEGER}, #{imageurl,jdbcType=VARCHAR}, #{uniform,jdbcType=VARCHAR}, 
      #{imagename,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hry.ssm.pojo.Sowing" >
    insert into sowing
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="imageid != null" >
        imageid,
      </if>
      <if test="imageurl != null" >
        imageurl,
      </if>
      <if test="uniform != null" >
        uniform,
      </if>
      <if test="imagename != null" >
        imagename,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="imageid != null" >
        #{imageid,jdbcType=INTEGER},
      </if>
      <if test="imageurl != null" >
        #{imageurl,jdbcType=VARCHAR},
      </if>
      <if test="uniform != null" >
        #{uniform,jdbcType=VARCHAR},
      </if>
      <if test="imagename != null" >
        #{imagename,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hry.ssm.pojo.SowingExample" resultType="java.lang.Integer" >
    select count(*) from sowing
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update sowing
    <set >
      <if test="record.imageid != null" >
        imageid = #{record.imageid,jdbcType=INTEGER},
      </if>
      <if test="record.imageurl != null" >
        imageurl = #{record.imageurl,jdbcType=VARCHAR},
      </if>
      <if test="record.uniform != null" >
        uniform = #{record.uniform,jdbcType=VARCHAR},
      </if>
      <if test="record.imagename != null" >
        imagename = #{record.imagename,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update sowing
    set imageid = #{record.imageid,jdbcType=INTEGER},
      imageurl = #{record.imageurl,jdbcType=VARCHAR},
      uniform = #{record.uniform,jdbcType=VARCHAR},
      imagename = #{record.imagename,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hry.ssm.pojo.Sowing" >
    update sowing
    <set >
      <if test="imageurl != null" >
        imageurl = #{imageurl,jdbcType=VARCHAR},
      </if>
      <if test="uniform != null" >
        uniform = #{uniform,jdbcType=VARCHAR},
      </if>
      <if test="imagename != null" >
        imagename = #{imagename,jdbcType=VARCHAR},
      </if>
    </set>
    where imageid = #{imageid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hry.ssm.pojo.Sowing" >
    update sowing
    set imageurl = #{imageurl,jdbcType=VARCHAR},
      uniform = #{uniform,jdbcType=VARCHAR},
      imagename = #{imagename,jdbcType=VARCHAR}
    where imageid = #{imageid,jdbcType=INTEGER}
  </update>
</mapper>